@model LaundryV3.Models.Invoice

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayMethod)
        </dd>

    </dl>
    <div class="container" style="padding: 0 30px;">
        <h3>
            List of Items
        </h3>
        <div class="row mt-5">
            @foreach (var item in Model.ListItems)
            {
                <div class="col-md-3 d-flex align-items-center justify-content-center bg-secondary mb-4 mb-lg-0" style="height: 120px;">
                    <div class="d-inline-flex">
                        <div class="d-flex flex-column text-center">
                            <span style="font-family: 'Libre Barcode 39'; font-size: 4vw; line-height: 0; margin-top: 2vw" >@Html.DisplayFor(i => item.Code)</span>
                            <h5 class="text-white font-weight-medium" style="letter-spacing: 1vw">@Html.DisplayFor(i => item.Code)</h5>
                            <p class="m-0 text-white">@Html.DisplayFor(i => item.Quantity) x @Html.DisplayFor(i => item.ServiceDetail.Name)</p>
                            <p class="m-0 text-white">@Html.DisplayFor(i => item.Price)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 d-flex align-items-center justify-content-center bg-primary mb-4 mb-lg-0" style="height: 120px;">
                    <div class="d-inline-flex text-left">
                        <div class="d-flex flex-column">
                            <p class="m-0 text-white">
                                @Html.ActionLink("Edit", "Edit", "ItemOfInvoice", new { id = item.Id }, new { @class = "fa fa-pen text-white m-0 mr-3" })
                                @Html.ActionLink("Details", "Details", "ItemOfInvoice", new { id = item.Id }, new { @class = "fa fa-info text-white m-0 mr-3" })
                                @Html.ActionLink("Delete", "Delete", "ItemOfInvoice", new { id = item.Id }, new { @class = "fa fa-circle-trash text-white m-0 mr-3" })
                            </p>
                        </div>
                    </div>
                </div>

            }
        </div>
        <div class="my-3">
            @Html.ActionLink("Add Item", "AddItem", "ItemOfInvoice", new { id = Model.Id }, new { @class = "btn btn-primary" })
        </div>
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-secondary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
